@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #e8e8e8;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.card{
  width: 650px;
  height: 350px;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  background: #000;
  box-shadow: -5px 5px 10px rgba(0,0,0,0.7),
              5px 5px 10px rgba(0,0,0,0.7);
}

.card-thumbnail{
  position: relative;
  width: 250px;
  overflow: hidden;
}

.card-thumbnail img{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-body{
  width: 400px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 12px;
  color: #bdb8b8;
}

.card-title{
  color: #e8e8e8;
  font-size: 22px;
  letter-spacing: 5px;
}

p{
  margin-top: -20px;
}

.stars{
  margin-top: -10px;
}

p span{
  margin-right: 10px;
}

.stars i{
  margin-right: 5px;
}

.card-description{
  text-align: justify;
}

 a{
  display: block;
  text-decoration: none;
  color: #f1c40f;
  margin-top: -25px;
}

.trailer{
  background: transparent;
  color: #f1c40f;
  border: 2px solid #f1c40f;
  padding: 7px 10px;
  border-radius: 5px;
  transition: 0.2s ease;
}

.trailer:hover{
  background: #f1c40f;
  color: #000;
}